Pillow
click
fastapi
httpx
langchain
langchain-chroma
langchain-community
openai
python-pptx
pydantic
rich
sentence-transformers
sse-starlette
torch
transformers
unstructured
uvicorn[standard]
chromadb